  <div class="row main">
    <div class="col-md-6 welcome-img">
        <h2>Welcome to Fun-Book</h2>
        <%= image_tag  "welcome.jpg" %>
    </div>
    <div class="col-md-6 login">
        <h3>Sign in to continue.</h3>
        <% flash.each do |type,message| %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% end %>        
      <div class="">
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field d-flex justify-content-start">
              <%= f.check_box :remember_me, :style => 'width:auto' %>
              <%= f.label :remember_me, style: 'padding:8px'%>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
