<%= form_with model: @post, class: "post", local: true do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post-container">
    <%= f.text_area :body, class: 'post-textarea', placeholder: "What's on your mind?" %>
    <div class="post-options">
      <div class="upload">
      <%= image_tag  "upload.png" %>
      </div>
      <input type="file"/>
    </div>
  </div>
  <%= f.submit "Post", class: 'btn btn-primary btn-post' %>
<% end %>