<%= form_with model: @post, class: "post", local: true do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :body, class: 'post-textarea', placeholder: "What's on your mind?" %>
  <%= f.submit "Post", class: 'btn btn-primary btn-sm' %>
<% end %>