
<%= render 'posts/new' %>
<ul class="list-unstyled">
<% @user_posts.each do |post| %>
  <li class="post-container">
    <div class="post-content">
      <div class="post-owner">
        <img src="assets/user.png" class="post-owner-img" alt="owner">
        <h5><%= post.user.email%></h5>
      </div>
      <p class="post-body"><%= post.body %></p>
        <% if(!current_user.liked_posts.find_by(id: post.id)) %>
          <%= link_to "ðŸ‘ like", post_like_path(post), method: :post %>
        <% else %>
          <%= "Likes (#{post.likes.count})" %>
          <%= "Comments (#{post.comments.count})" %>
        <% end %>
        <%= form_with(url: post_comment_path(post), method: 'post', class: 'comment') do %>
          <%= text_area_tag :comment %>
          <%= submit_tag "Comment", class: 'btn btn-success btn-sm' %>
        <% end %>
    <ul>
      <% post.comments.each do |comment| %>
      <li><%= comment.body %></li>
      <%end%>
    </ul>
    </div>
  </li>

<% end %>
</ul>
