<h1>Welcome Mr/Mrs. <%= @user.email %></h1>


<h4>What's on your mind?</h4>
<%= render 'posts/new' %>

<h4>Previous posts</h4>
<% @user_posts.each do |post| %>
  <p><%= post.body %> - <span><%= post.created_at %></span></p>
  <% if(!current_user.liked_posts.find_by(post_id: post.id)) %>
  <%= link_to "ðŸ‘ like", post_like_path(post), method: :post %>
  <% end %>
<% end %>
