<h1>Welcome Mr/Mrs. <%= @user.email %></h1>


<h4>What's on your mind?</h4>
<%= render 'posts/new' %>

<h4>Previous posts</h4>
<% @user_posts.each do |post| %>
  <p><%= post.body %> - <span><%= post.created_at %></span></p>
  <%= link_to "ðŸ‘ like", 
<% end %>
