 <% if user_signed_in? %>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">FriendsBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="navbar-nav links">
      <li class="nav-item">
        <a href="/"><%= current_user.email %></a>|
      </li>
      <li class="nav-item">
        <a href="/">Create</a>|
      </li>
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users" tabindex="-1" aria-disabled="true"><%= image_tag 'notification.png' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> <%= image_tag 'add_friend.png'%> <span class="badge badge-dark"><%= request_count %></span></a>
      </li> 
    </ul>

    
    <ul class="navbar-nav profile">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item' , method: :delete %>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>
      <% end %>


