<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Like</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |type,message| %>
      <div class="alert alert-<%= type %>">
        <%= message %>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-3">
        <%= render  "layouts/about" %>
        </div>
        <div class="col-6">
          <%= yield %>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </body>
</html>
