<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Like</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app">
    <% if (!current_user)%>
      <div class="container-fluid">
          <%= yield %>
      </div>
    <% else %>
    
    <%= render 'layouts/header'%>
    <div class="container-fluid">
      <div class="main-content">
        <div class=" menu">
        <%= render  "layouts/about" if current_user %>
        </div>
        <div class="feed-other">
        
        <div class="feed-container">
        <% flash.each do |type,message| %>
          <div class="alert alert-<%= type %>">
            <%= message %>
          </div>
        <% end %>
          <%= yield %>
        </div>
        <div class="other"> 
        <%= render  "layouts/suggestions"  if current_user %></div></div>
      </div>
    </div>
    <% end %>
  </body>
</html>
<%# https://dribbble.com/shots/9383451-Facebook-Redesign/attachments/1411633?mode=media %>